* {
  margin: 0;
  padding: 0;
}


html {
  background-image: linear-gradient(to bottom, #ff9e9e, #ffc1c1, #ffffff);
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  min-height: 100%;
  font-family: lora, 'Times New Roman', Times, serif;
}

header nav {
  font-family: Beauty-Drawing, 'Times New Roman', Times, serif;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  font-size: 2.1rem;
  color: #292929
}

nav a:hover {
  transition: all ease-out 200ms;
  -webkit-text-stroke: 0.9px white;
  text-decoration: underline;
  font-size: 2.5rem;
  color: black
}

.geninfo {
  text-align: center;
  margin: 15px 500px 30px;
  height: 90px;
}

.about {
  position: relative;
  width: 730px;
  margin: 4rem auto;
  left: auto;
}

.grid-container {
  display: grid;
  grid-template: repeat(4, 130px) / repeat(1, 320px);
  position: relative;
  margin: 4rem auto;
  justify-self: center;
}

h1 {
  font-family: Beauty-Drawing, 'Times New Roman', Times, serif;
  font-size: 90px;
}

.schedule,
h1 {
  text-align: center;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

.JustMonika {
  float: inline-end;
  margin: 0 auto;
  width: auto;
  align-items: left;
}

.Monika {
  float: inline-start;
  margin: 45px;
}

 .chibi {
    float: none;
    margin: 45px;
    animation: dspin 10s ease-in-out;
    animation-iteration-count: infinite;
  }

@font-face {
  font-family: Beauty-Drawing;
  src: url(assets/beauty-drawing.regular.ttf) format('truetype');
}

  @keyframes dspin{
    from {
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(360deg);
    }
  }

@media only screen and (max-width: 480px) {
  main {
    margin: 15px 20px 10px;
  }

  header nav {
    flex-direction: column;
    gap: 30px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  .Monika {
    float: none;
    margin: 45px;
  }

  .chibi {
    float: none;
    margin: 45px;
    animation: dspin 10s ease-in-out;
    animation-iteration-count: infinite;
  }

  .about {
    top: 30px;
    width: 300px;
    margin: 2%;
    left: 0px;
  }

  .schedule {
    top: 30px;
    width: 300px;
    margin: 2%;
    left: 0px;
  }

/* ----------------------------------------------
 * Generated by Animista on 2025-12-12 13:9:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

  
}