* {
  margin: 0;
  padding: 0;
}


html {
  background-image: linear-gradient(to bottom, #ff9e9e, #ffc1c1, #ffffff);
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  min-height: 100%;
  font-family: lora, 'Times New Roman', Times, serif;
}

header nav {
  font-family: Beauty-Drawing, 'Times New Roman', Times, serif;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 2.1rem;
  color: #292929
}

nav a:hover{
  transition: all ease-out 200ms;
  -webkit-text-stroke: 0.9px white;
  text-decoration: underline;
  font-size: 2.5rem;
  color: black
  
}

.geninfo {
  text-align: center;
  margin: 15px 500px 30px;
  height: 90px;
}

.about {
  position: relative;
  width: 730px;
  margin: 4rem auto;
  left: auto;
}

.grid-container {
  display: grid;
  grid-template: repeat(4, 130px) / repeat(1, 320px);
  position: relative;
  margin: 4rem auto;
  justify-self: center;
}

h1 {
  font-family: Beauty-Drawing, 'Times New Roman', Times, serif;
  font-size: 90px;
}

.schedule, h1{
  text-align: center;
}

h2{
  font-size: 50px;
}

h4{
  font-size: 25px;
}

.JustMonika {
  float: inline-end;
  margin: 0 auto;
  width: auto;
  align-items: left;
}

.Monika {
  float: inline-start;
  margin: 45px;
}

@font-face {
    font-family: Beauty-Drawing;
    src: url(assets/beauty-drawing.regular.ttf) format('truetype');
}



@media only screen and (max-width: 480px) {
  main {
    margin: 15px 20px 10px;
  }

  header nav {
    flex-direction: column;
    gap: 30px;
  }

  h1 {
    font-size: 45px;
  }

  h2{
    font-size: 25px;
  }

  h4{
    font-size: 20px;
  }
  
  .Monika {
  float: none;
  margin: 45px;
}

  .about {
  top: 30px;
  width: 300px;
  margin: 2%;
  left: 0px;
}

  .schedule {
  top: 30px;
  width: 300px;
  margin: 2%;
  left: 0px;
  }
  
}