* {
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(to bottom, #ff9e9e, #ffc1c1, #ffffff);
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  min-height: 100%;
}

header nav {
  color: black;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
}

a {
  color: white
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
  color: blue
}

main {
  text-align: center;
  margin: 15px 500px 30px;
}

h1 {
  font-size: 90px;
}

h2{
  font-size: 50px;
}

h4{
  font-size: 25px;
}

.JustMonika {
  display: flex;
  margin: 0 auto;
  width: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.Monika {
  float: left;
  margin: 35px;
}

.MonDesc {
  width: 45vw;
  position: relative
  text-align: right;
  left: 40vw;
}

@media only screen and (max-width: 480px) {
  main {
    margin: 15px 20px 10px;
  }

  h1 {
    font-size: 45px;
  }

  h2{
    font-size: 25px;
  }

  h4{
    font-size: 20px;
  }
}