* {
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(to bottom, #ff9e9e, #ffc1c1, #ffffff);
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  min-height: 100%;
}

header nav {
  color: black;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 1.15rem;
  color: #292929
}

nav a:hover{
  transition: all ease-out 200ms;
  -webkit-text-stroke: 0.9px white;
  text-decoration: underline;
  font-size: 1.5rem;
  color: black
  
}

.geninfo {
  text-align: center;
  margin: 15px 500px 30px;
  height: 90px;
}

.about {
  position: relative;
  top: 30px;
  width: 1000px;
  margin: 2%;
  left: 340px;
}

h1 {
  font-size: 90px;
}

h2{
  font-size: 50px;
}

h4{
  font-size: 25px;
}

.JustMonika {
  display: flex;
  margin: 0 auto;
  width: auto;
  align-items: left;
}

.Monika {
  float: inline-start;
  margin: 45px;
}


@media only screen and (max-width: 480px) {
  main {
    margin: 15px 20px 10px;
  }

  h1 {
    font-size: 45px;
  }

  h2{
    font-size: 25px;
  }

  h4{
    font-size: 20px;
  }
}